[MASTER]
ignore=tests

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements

[FORMAT]
max-line-length=120

[TYPECHECK]
ignored-modules=cv2,numpy,mediapipe

